/* stylesheet for index page  */

/* Reset default margin and padding for all elements */
*{
    margin: 0;
    padding:0;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.2; /* Set the line height for the entire body */
}
body > main > section > div{
    background-image: url(../images/billiefinal.png);
    background-repeat: no-repeat;
}

h1{
    background-color: #f7a0ae;
    font-family: 'Megrin',sans-serif;
    text-align: center;
    justify-content: center;
    padding: 2%;
}
body > main > section > h1 > sub{
    font-family: "Pacifico", Arial;
    font-size: 15px;
}

body > main > section > div > div:nth-child(1){
    padding-top: 10px;
}

.paragraph{
    padding-bottom: 13px;
}

.allEmotions {
    background-color: rgba(237, 228, 228,.75);
    justify-content: center;
    text-align: center;
    font-size: 1.1em;
}

/* Emotion-specific styles */
.frustration {
    font-family: "megrim", Arial, sans-serif;
    font-size: 20px;
    color: #e44040; /* Red */
    font-weight: 600;
    letter-spacing: -0.5px;
    text-transform: lowercase;
}

.confidence {
    font-family: "Black Ops one", Georgia;
    font-size: 20px;
    color: #2d2dbb; /* Blue */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: normal;
}

.defiance {
    font-family: "Frijole", Impact, sans-serif;
    font-size: 26px;
    color: #000000; /* Black */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.indifference {
    font-family: "Lobster Two",  Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-style: oblique;
    color: #a80505; /* Gray */
}

.annoyance {
    font-family: "Unlock", Arial, sans-serif;
    font-size: 22px;
    color: #9b049b; /* Purple */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: -0.5px;
    text-transform: uppercase;
}
/* emotion specific styling for dismissivness emotion  */
.dismissiveness {
    font-family: "Pacifico", Arial;
    font-size: 20px;
    color: #15a815; /* Green */
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: normal;
    text-transform: none;
}
/* syling for irritaion emotion */
.irritation {
    font-family: "Knewave",sans-serif;
    font-size: 20px;
    color: #FFA500; /* Orange */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
}
/* styles for sarcasm */
.sarcasm {
    font-family: "Chewy", sans-serif;
    font-size: 24px;
    color: #ffbc03; /* Yellow */
    text-shadow: 2px 2px 4px rgba(185, 184, 184, 0.5);
    letter-spacing: -0.5px;
}

/* styles mocking politeness */
.mocking-politeness {
    font-family: "Shrikhand", sans-serif;
    font-size: 20px;
    color: #fc4c69; /* baby pink */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    text-transform: uppercase;
}